

.category__container {
     width: 100%;
}


.category{
     margin-top: 20px;
     display: block;
     border-radius : 5px;
     border : var(--topic_border_width) solid var(--green_border) ;
     background: var(--topic_header_bg) ;
}

.category .category__header{
     display: flex;
     align-items: flex-start;
     padding: 4px;
     background: var(--topic_header_bg) ;
     margin: 0px;
     border-radius: 5px;
     border-bottom-left-radius: 0px;
     border-bottom-right-radius: 0px;
}

.category__header img{
     height: 60px;
     width: 60px;
     border-radius: 50%;
}

.category__header .info{
     padding-top: 5px;
     margin-left: 15px;
     flex-grow: 1;
     display: flex;
     flex-direction: column;
}

.category__header .info p {
     margin: 0px;
     padding: 0px;
}


.category__container  .bar {
     height: 10px;
}

.category__body .topic_link{
     color: green;
}


.category__body {
     padding: 5px;
     word-break: break-word;
}

.category__body .topic_details {
     display: flex;
     justify-content: space-evenly;
}

.category__body .topic_details span {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     font-size: 10px;
     color: grey;
}
